<div id="#compact-archive-side-bar" >
  <div class="container">
    <div class="heading-green-small-white-small heading-inner white">Archive</div>
    <div class="container-inner-white-small left-border border-color overflow-hidden">
      <span class="orange font-13 bold space-bottom-inner-15 space-left-10 space-right-10 display-block border-bottom-shadow">
        Get results according to your interests and personality.</span>
      <div class="side-panel-search space-top-10 space-left-10">
               	  <div class="text-field"><input type="text" value="" /></div>
                    <div class="icon"><a href="#"><img src="images/icon-search.jpg" alt="search" /></a></div>
              </div>
      <div class="space-10 font-11">
        <div class="space-bottom-inner-5"><span class="space-right-inner-5 blue">Title:</span> Title of Showcase</div>
        <div class="space-bottom-inner-5"><span class="space-right-inner-5 blue">Subject:</span>Physics</div>
        <div class="space-bottom-inner-5"><span class="space-right-inner-5 blue">Grade</span>8th</div>
        <div class="space-bottom-inner-5"><span class="space-right-inner-5 blue bold">Abstract:</span> Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Duis dignissim semper mauris, id congue
        risus fringilla sit amet. Nunc nec quam erat, sollicitudin sodales risus.
        Aenean leo nisl, fermentum a malesuada sit amet, scelerisque quis libero.</div>

        <div class="space-bottom-inner-10 space-inner-top-5">
          <video id="side-bar-video" src="/videos/geometry.ogg" controls="controls"  >
            your browser does not support the video tag
          </video>
        </div>

        <div class="font-12 space-bottom-5"><span class="bold space-right-inner-5">Contributed by:</span><span class="blue">William</span></div>

        <div class="font-12 space-bottom-5"><span class="bold space-right-inner-5">Tags: </span><span class="blue">
            <a href="">Math</a> , <a href="#">Algebra</a> , K12 , <a href="#">High School</a></span></div>

      </div>


    </div>
    <div class="border-bottom-gradient"></div>
  </div>
</div>
