<div class="container bottom-border space-top-inner-10 border-color space-bottom-inner-10">
  <img class="pic" src="/images/pic-1.jpg" />
  <div class="comapct-user-details">
    <span><strong><a href="/users/1">New User</a></strong></span>
    <span class="font-11"><a href="#">Edit Profile</a></span>
  </div>
</div>