 <div class="buttons space-top-5 space-right-10">
    <ul>
      
      <li><a href="#" class="share">Share</a></li>
      <li class="options">
        <dl class="options">
          <dt> <a href="#" class="lock menu"><img src="/images/lock.jpg" /></a></dt>
          <dd>
            <ul class="heading drop-down-options-background-color drop-down-options-text-color ">
              <li class="bottom-border drop-down-options-bottom-border-color">Friends</li>
              <li class="bottom-border drop-down-options-bottom-border-color">Colleague</li>
              <li class="bottom-border drop-down-options-bottom-border-color">Public</li>
            </ul>
          </dd>
        </dl>
      </li>
    </ul>

  </div>