  <div class="field-box space-bottom-10 ">
    <label class="left display-block bold space-top-5 space-right-15 text-align-right">
      Upload <%= file_name  %>
    </label>
    <input type="file"  name="" class="space-right-5"/>
  </div>
  <div class="field-box space-bottom-10">
    <label class="left display-block bold space-top-5 space-right-15 text-align-right">
      Description
    </label>
    <textarea class="poll-question border-color border"></textarea>
  </div>

