<span>Hi,</span>
<br />
<span><%= @name %> is inviting you to join educatorsplanet.</span>
<br />
<div>
  <p><span class="bold">"</span><span class="italic"><%= @message %></span><span class="bold">"</span></p>
  Register for FREE from following link!
  <a href="http://www.educatorsplanet.com/users/sign_in">www.educatorsplanet.com</a>
</div>
