<span>Hello <%= @name  %>,</span>
<br />
<div>
  I have joined educatorsplanet and I'd like to add you as a contact. Register for FREE from following link!
  <a href="http://www.educatorsplanet.com/users/sign_in">www.educatorsplanet.com</a>

</div>
<div>
  To see my profile, go to the following link: <br />
  <a href="http://www.educatorsplanet.com/users/<%= @user_id %>" >
    www.educatorsplanet.com/users/<%= @user_id %>
  </a>
  <p>
    Greetings,
  </p>
  <p>
    <%= @user %>
  </p>
</div>
