.simple_form{
    padding-top: 10px;
    padding-bottom: 10px;
}
.simple_form div.input{
    overflow:hidden;
    margin-bottom: 10px;
}
.simple_form label{
    float: left;
    display: block;
    margin-top: 5px;
    margin-right: 15px;
    text-align: right;
    width: 120px;
}
.simple_form select.date{
    width:120px
}
.simple_form span.hint{
    display:block;
    margin-left: 165px;
    width:280px;
    font-size: 10px;
}
.simple_form label.collection_radio{
    float: left;
    display: block;
    margin-top: 0px;
    margin-right: 10px;
    text-align: right;
    font-weight:normal;
    width:100px;
}
.simple_form textarea,
.simple_form input[type="text"]{
    font: inherit;
    width: 280px;
    border: 1px solid;
    border-color:#e3eaf4 !important
}
.simple_form input[type="password"]{

    width: 280px;
    border: 1px solid;
    border-color:#e3eaf4 !important
}
.simple_form textarea{
    width: 279px;
    height: 45px;
}
div.input.radio span { float: left; width: 80px; margin-left: 164px; margin-bottom: 5px;}
div.input.radio span > input { float: left; width: 20px; margin: 0px;}
div.input.radio span > label { float: left; width: auto !important; margin: 0px; padding-left: 5px; text-align: left;}

input.sinlge-field[type="text"]{
    width: 150px;

}
input[type="submit"].sinlge-field{
    margin-left:5px !important;
}
.simple_form input[type="submit"]{
    margin-left: 165px;
}
form.simple_form.employer{
    margin: 0px;
    padding: 0px;
}
form.simple_form.filter{
    padding-bottom: 0px;
    padding-top: 0px;
}
form.simple_form.filter > .check_boxes  >label{
    float: none;
    font-weight: bold;
    margin-top: 5px;
    text-align: left;
    width:100%;
}
form.simple_form.filter > .check_boxes > span{
    display: block;
    margin-left: 10px;

}
form.simple_form.filter > .check_boxes > span >label{
    display: inline;
    float: none;
    font-weight: normal;
    margin: 0px;
    text-align: right;
    width: 120px;

}
