<div>Give a brief description of what you have done, what you are doing, and the kinds of things you are interested in. Some examples:
  <ul>As an analyst, commentator and author, I specialize in three areas
  <li>Engaging learning & related learner-managed models</li>
  <li>Vocational training practices and programs</li>
  <li>Community-based employment services for the unemployed
    Almost my entire professional career has been dedicated to refining and consolidating a robust, no-nonsense 'pedagogy' for 'learning in an enterprising manner'.</li></ul>
        <ul><li>Director of Studies</li>
  <li>Cambridge CELTA teacher trainer</li>
  <li>Cambridge Centre Exams Manager (CEM)</li>
  <li>IHWO online tutor</li>
  <li>IHWO inspector</li></ul>
        <ul>I work as a practitioning educational psychologist. I counsel students, advise departments and coach student counselors and teachers at the Radboud University. I also work freelance in the same area outside the university.
The psychology of learning is my business but also a hobby. I like to work thru difficult issues in this field.</ul>
        <ul>Elementary Principal with Columbus City Schools in Columbus, Ohio for 23 years.
  Book Author, "The Power of Caring for Elementary Schools," with Success Secrets for Principals, Teachers, and Parents</ul>
</div>