<div class="container ">
  <div class="heading bottom-border border-color space-top-inner-10 space-bottom-inner-10">
    <ul>
      <li class="img"><img src="/images/icon-myaccount.png" /></li>
      <li class="text"><strong><a href="/users/1/settings/account">My Account</a></strong></li>
    </ul>
  </div>

  <div class="heading bottom-border border-color space-top-inner-10 space-bottom-inner-10">
    <ul>
      <li class="img"><img src="/images/icon-privacysettings.png" /></li>
      <li class="text"><strong><a href="/users/1/settings/privacy">Privacy Settings</a></strong></li>
    </ul>
  </div>

  <div class="heading bottom-border border-color space-top-inner-10 space-bottom-inner-10">
    <ul>
      <li class="img"><img src="/images/icon-blocklist.png"/></li>
      <li class="text"><strong><a href="/users/1/settings/blocklist">Block Lists</a></strong></li>
    </ul>
  </div>
  
</div>






