/* 
    Document   : index
    Created on : Apr 21, 2011, 6:06:49 PM
    Author     : razakhalid
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.clear{
    clear:both;
}
.show_for.message>div.details{
    width: 412px;
}


.links.messages a{
    color: #626463;
}