
<div id="compact-archive-side-bar" class="container space-top-inner-10">
  <div class="heading font-18">Filter your search </div>
  <p class="font-11">Use the checkboxes below to improve your archive search</p>
  <div class="archives-left-panel bottom-border border-color space-top-10">
    <div class="heading bold">Title</div>
    <div class="side-panel-search">
      <div class="text-field"><input value="Search by title" type="text" onfocus="this.value=''" onblur="if (this.value == '') this.value ='Search by title'"/></div>
      <div class="icon"><a href="#"><img src="images/icon-search.jpg" /></a></div>
    </div>
    <div class="check-box space-top-10">
      <ul>
        <li><input type="checkbox" /></li>
        <li class="text">Video</li>
      </ul>
    </div>
    <div class="check-box">
      <ul>
        <li><input type="checkbox" /></li>
        <li class="text">Images</li>
      </ul>
    </div>
    <div class="check-box">
      <ul>
        <li><input type="checkbox" /></li>
        <li class="text">Audio</li>
      </ul>
    </div>
    <div class="check-box">
      <ul>
        <li><input type="checkbox" /></li>
        <li class="text">Text</li>
      </ul>
    </div>

  </div>

  <div class="archives-left-panel bottom-border border-color space-top-10">
    <div class="heading bold">Grades</div>
    <div class="side-panel-search">
      <div class="text-field"><input value="Search by Grade" type="text" onfocus="this.value=''" onblur="if (this.value == '') this.value ='Search by Grade'"/></div>
      <div class="icon"><a href="#"><img src="images/icon-search.jpg" /></a></div>
    </div>
    <div class="check-box space-top-10">
      <ul>
        <li><input type="checkbox" /></li>
        <li class="text">6th</li>
      </ul>
    </div>
    <div class="check-box">
      <ul>
        <li><input type="checkbox" /></li>
        <li class="text">8th</li>
      </ul>
    </div>
    <div class="check-box">
      <ul>
        <li><input type="checkbox" /></li>
        <li class="text">Pre K</li>
      </ul>
    </div>

  </div>

  <div class="archives-left-panel bottom-border border-color space-top-10">
    <div class="heading bold">Subjects</div>
    <div class="side-panel-search">
      <div class="text-field"><input value="Search by Subject" type="text" onfocus="this.value=''" onblur="if (this.value == '') this.value ='Search by Subject'" /></div>
      <div class="icon"><a href="#"><img src="images/icon-search.jpg" /></a></div>
    </div>
    <div class="check-box space-top-10">
      <ul>
        <li><input type="checkbox" /></li>
        <li class="text">Maths</li>
      </ul>
    </div>
    <div class="check-box">
      <ul>
        <li><input type="checkbox" /></li>
        <li class="text">English</li>
      </ul>
    </div>
    <div class="check-box">
      <ul>
        <li><input type="checkbox" /></li>
        <li class="text">Spanish</li>
      </ul>
    </div>

  </div>

  <div class="archives-left-panel bottom-border border-color space-top-10">
    <div class="heading bold">Tags</div>
    <div class="side-panel-search">
      <div class="text-field"><input value="Search by tags" type="text" onfocus="this.value=''" onblur="if (this.value == '') this.value ='Search by tags'" /></div>
      <div class="icon"><a href="#"><img src="images/icon-search.jpg" /></a></div>
    </div>
    <div class="check-box space-top-10">
      <ul>
        <li><input type="checkbox" /></li>
        <li class="text">Shakespeare</li>
      </ul>
    </div>
    <div class="check-box">
      <ul>
        <li><input type="checkbox" /></li>
        <li class="text">Solar</li>
      </ul>
    </div>
    <div class="check-box">
      <ul>
        <li><input type="checkbox" /></li>
        <li class="text">Children</li>
      </ul>
    </div>

  </div>

</div>
