<h2 class="heading heading-background-color heading-border-color">Terms and conditions</h2>
<div>
<ul>Teachers may submit original works in their entirety and relinquish copyright to said works.</ul>
<ul>For other material where the teacher believes the material is copyrighted:</ul>
<ul>Copying by teachers of other material must meet the tests of brevity and spontaneity:</ul>
<ul>Brevity refers to how much of the work you can copy.</ul>
<ul>Spontaneity refers to how many times you can copy.</ul>
<ul>According to the rule, the need to copy should occur closely in time to the need to use the copies, generally following the "one semester rule." If you use something on one occasion within one semester or part of a semester it is more likely to be seen as fair use. If you use something repeatedly, it's less likely to be considered fair use. The expectation is that you will obtain permission as soon as it is feasible. Using something over a period of multiple semesters or years is not within the spirit of the fair use exception.</ul>
<h3>Special works:</h3>
<ul>"Works that combine language and illustrations and which are intended sometimes for children and at other times for a general audience." Special works should never be copied in their entirety.
An excerpt of no more than two pages or 10 percent, whichever is less, is the rule for special works.
The use of the copies should be for one course at one school.</ul>
<ul>The copies should include a notice of copyright acknowledging the author of the work</ul>
</div>
